# ALIHT
VITE_APP_AGENCY=aliht
VITE_APP_AGENCY_NAME="Academia Aliht"
VITE_APP_AGENCY_IMAGE=/images/logo_aliht.png
VITE_APP_AGENCY_IDENTIFIER=1


# NEXTRAVEL
# VITE_APP_AGENCY=nextravel
# VITE_APP_AGENCY_NAME="Academia Nextravel"
# VITE_APP_AGENCY_IMAGE=/images/logo_nextravel.png
# VITE_APP_AGENCY_IDENTIFIER=2

# BESTRAVEL
# VITE_APP_AGENCY=bestravel
# VITE_APP_AGENCY_NAME="Academia Bestravel"
# VITE_APP_AGENCY_IMAGE=/images/logo_bestravel.png
# VITE_APP_AGENCY_IDENTIFIER=3